.data-table {
    // fill anything placed withing and scoll verically and horizontally
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
    table.ui.table {
        border-radius: 0px;
        thead tr th {
            padding-left: 0;
            padding-right: 0;
            div {
                span {
                    padding-left: .75em;
                    padding-right: .75em;
                }
            }
        }
    }
}